<div class="game">
  <div class="game--variants">
    <app-radio-group (selectedEvent)="groupChanged($event, 'meaning')" name="meaning" [values]="meanings"></app-radio-group>
    <app-radio-group (selectedEvent)="groupChanged($event, 'verb')" name="verb" [values]="verbs"></app-radio-group>
    <app-radio-group (selectedEvent)="groupChanged($event, 'preposition')" name="preposition" [values]="prepostions"></app-radio-group>
    <app-radio-group (selectedEvent)="groupChanged($event, 'casus')" name="casus" [values]="cassen"></app-radio-group>
  </div>

  <ng-container *ngIf="congratGif">
    <!-- TODO: apply congratulations confetti https://codepen.io/andershoff/pen/ZwQRKv -->
    <div class="game--congrat">
      <h1>Congratulations! U made it!</h1>
      <div class="game--congrat-img">
        <img [src]="congratGif" />
      </div>
      <div>
        <button class="btn btn-success btn-lg" (click)="reload()">Run again!</button>
      </div>
    </div>
  </ng-container>
</div>
