.game {
  padding: 2em;
  border-radius: 0.5em;
  border: 1px solid var(--accent-color);
  background: var(--primary-color);
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);


  app-radio-group {
    display: inline-block;
  }

  &--plate {
    display: inline-block;
    margin: 1rem;
    background-color: #fff;
    color: var(--accent-color);
    cursor: pointer;
    font-weight: bold;
    padding: 1em 1.5em;
    border-radius: 0.5em;
  }
}
