.game {
  background: var(--primary-color);
  margin-bottom: 2rem;
  padding: 2em;
  min-height: 80vh;

  &--variants {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  app-radio-group {
    display: inline-block;
  }

  &--plate {
    display: inline-block;
    margin: 1rem;
    background-color: #fff;
    color: var(--accent-color);
    cursor: pointer;
    font-weight: bold;
    padding: 1em 1.5em;
    border-radius: 0.5em;
  }

  &--congrat {
    text-align: center;

    h1 {
      color: var(--accent-color);
    }
  }

  &--congrat-img {
    margin-bottom: 2em;
  }
}
