.game-statistics {
  padding-top: 2em;
  color: var(--accent-color);

  .result {
    font-weight: bold;

    &.good { color: var(--success-color); }
    &.normal { color: orange; }
    &.bad { color: var(--warning-color); }
  }
}
