.top-links {

  display: inline-block;

  &--list {
    display: inline-block;
    list-style: none;
  }

  &--link {
    display: inline-block;
    margin-right: 1em;

    &::before {
      display: none;
    }

    a {
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
  }
}
