

<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="logo"><a href="">Deutsche Verben</a></h1>
        <app-navbar [links]="links"></app-navbar>
      </div>
    </div>
  </div>

</header>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <router-outlet></router-outlet>
        <!-- <app-list></app-list> -->
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    @Copyright 2022
  </div>
</footer>

