:host {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  .header {
    background-color: var(--accent-color);
  }

  .logo {
    display: inline-block;
    margin-right: 2em;
    font-size: 1.4em;

    a {
      text-decoration: none;
      font-weight: bold;
      color: white;
    }
  }

  .footer {
    padding: 2em 0;
  }

  .title-box {
    margin-bottom: 1.5em;

    h1 {
      font-size: 1.2em;
    }
  }
}
