.verb-details {
  text-align: center;
  margin-bottom: 25px;

  .verb-part {
    font-size: 35px;
    color: var(--primary-color);
    margin: 1em 0.5em;
  }

  &--example {
    color: var(--primary-color);
    font-size: 1.4em;
    padding-top: 0.7em;
    margin-bottom: 1em;
  }

  &--gif {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
