<div class="verb-details">
  <div class="verb-details--gif-block">
    <h4>Beispiele:</h4>
    <div class="verb-details__examples" *ngIf="verb.examples?.length else noExamples">
      <ol>
        <ng-container *ngFor="let example of verb.examples">
          <li class="verb-details__example">
            <span [innerHTML]="exampleHTML(example)"></span>
            <app-speaker [text]="example"></app-speaker>
          </li>
        </ng-container>
      </ol>
    </div>

    <div class="verb-details__actions">
      <a [href]="wikiLink" class="btn btn-primary verb-details__actions--wikilink" target="_blank">
        Check
        <span>{{verb.verb}}</span>
        on Wiktionary
      </a>
    </div>
  </div>
</div>

<ng-template #noExamples>
  <div class="verb-details__examples">
    <i style="padding-left: 30px;">Keine Beispiele noch :(</i>
  </div>
</ng-template>
