.verb-details {
  margin-bottom: 25px;

  .verb-part {
    font-size: 35px;
    color: var(--primary-color);
    margin: 1em 0.5em;
  }

  &__examples {
    margin-bottom: 1.5em;
  }

  &__example-verb {
    font-weight: bold;
    color: var(--primary-color);
  }

  &__example-preposition {
    font-weight: bold;
    color: var(--accent-color);
  }

  &__actions {
    text-align: center;

    .btn {
      margin: 0 1em;
    }

    &--wikilink {
      span {
        color: var(--primary-color);
        font-weight: bold;
      }
    }
  }

  &--gif {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
