@keyframes zoom-out {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 0);
  }
}

@keyframes squeeze {
  100% {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}

.variant {
  label {
    cursor: pointer;
    display: block;
    transition: all 0.4s;
    transform: scale(1, 1);
    box-sizing: border-box;
    margin-bottom: 0;

    [type=radio] {
      opacity: 0;
      width: 0;
      height: 0;
      display: none;
    }

    > span {
      background-color: #fff;
      text-align: center;
      padding: 1em 1em;
      font-weight: bold;
      border-radius: 0.6em;
      color: var(--accent-color);
      border: 1px solid var(--primary-color);
      display: block;
      transition: background 0.2s;
      margin: 0 6px 10px;
      user-select: none;
    }

    [type=radio]:checked + span {
      color: white;
      background-color: var(--selected-color);
    }

    &.wrong {
      > span {
        background-color: var(--warning-color);
        color: white;
      }
    }

    &.right {
      > span {
        overflow: hidden;
        animation: zoom-out, squeeze;
        animation-delay: 0ms, 500ms;
        animation-duration: 400ms, 600ms;
        animation-fill-mode: forwards;
      }
    }
  }

  &-meaning {
    label > span {
      background-color: var(--accent-color);
      color: white;
    }
  }
}
