
<app-fast-nav></app-fast-nav>
<app-search></app-search>

<div class="verbs">
  <div [id]="prep" class="preposition-verbs-wrp" *ngFor="let prep of prepositions">
    <ng-container *ngIf="verbs[prep].length > 0; else noVerbs">
      <h2>{{prep}}</h2>
      <hr>
      <table class="table">
        <thead>
          <tr>
            <th>Verb</th>
            <th>Preposition</th>
            <th>Casus</th>
            <th>Meaning</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let verb of verbs[prep]">
            <td>{{ verb.verb }}</td>
            <td>{{ verb.preposition }}</td>
            <td>{{ verb.casus }}</td>
            <td>{{ verb.meaning }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>
</div>


<ng-template #noVerbs>
    <div class="alert warn">
      No verbs found
    </div>
</ng-template>
