
<app-fast-nav></app-fast-nav>
<app-search></app-search>

<div class="verbs">
  <div [id]="prep" class="preposition-verbs-wrp" *ngFor="let prep of prepositions">
    <ng-container *ngIf="verbs[prep].length > 0; else noVerbs">
      <h2>{{prep}}</h2>
      <hr>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Verb</th>
            <th scope="col">Preposition</th>
            <th scope="col">Casus</th>
            <th scope="col">Meaning</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let verb of verbs[prep]" >
            <tr class="preposition-verbs__verb" [id]="decode(verb)" (click)="onVerbClick(verb)">
              <td>{{ verb.verb }}</td>
              <td>{{ verb.preposition }}</td>
              <td>{{ verb.casus }}</td>
              <td>{{ verb.meaning }}</td>
            </tr>
            <!-- TODO: remaster show/hidden logic -->
            <tr [ngClass]="{'details-wrp': true, shown: verb === selected}">
              <td colspan="4">
                <verb-details [verb]="verb"></verb-details>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </ng-container>
  </div>
</div>


<ng-template #noVerbs>
    <div class="alert warn">
      No verbs found
    </div>
</ng-template>
