.preposition-verbs-wrp {
  width: 100%;
  padding-top: 1.5em;

  table {
    user-select: none;

    .details-wrp {
      max-height: 0;
      overflow: hidden;
      // transition: all 0.3s;
      // visibility: collapse;
      display: none;

      &.shown {
        display: table-row;
        background-color: var(--border-color);
      }
    }
  }
}

.preposition-verbs {
  &__verb {
    cursor: pointer;
  }
}
