.preposition-verbs-wrp {
  width: 100%;
  padding-top: 1.5em;

  table {
    user-select: none;

    tr {
      cursor: pointer;
    }

    .details-wrp {
      max-height: 0;
      overflow: hidden;
      // transition: all 0.3s;
      visibility: collapse;

      &.shown {
        max-height: fit-content;
        visibility: visible;
        background-color: var(--accent-color);
      }
    }
  }
}
